body{
background-color: rgb(1, 181, 181);
font-size: large;
}

button{
    background-color: rgb(227, 239, 239);
    cursor: pointer;
    font-size: 15px;
    margin-right: 25px;
    margin-left: 35px;
    margin-top: 20px;
    padding-right: 15px;

}
button:hover{
    background-color: black;
    color: rgb(227, 239, 239);

}
